<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<!-- GENERAL -->
	<category label="30010">
		<setting id="conn_attempts" type="labelenum" label="30020" values="1|2|3|4|5|6|7|8|9" default="5" />
		<setting id="margin" type="labelenum" label="30021" lvalues="30025|30026|30027|30028" default="30025" />
		<setting id="default_action" type="enum" label="30022" lvalues="30030|30031|30032" default="0" />
		<setting id="channel_number" subsetting="true" type="number" label="30023" default="1" visible="eq(-1,2)"/>
		<setting type="lsep" label="30011"/>
		<setting id="channelgroups" type="action" label="30012" action="RunScript(service.record.priorizer,set_tvgroup)" default="" />
	</category>
</settings>